<%- include('parts/header'); -%>

<main>
    <h1>Insertion</h1></h1>
    <form class="insert-form" action="/pokemon/add" method="POST">
        <input type="text" name="name" value="" placeholder="Name"/>
        <input type="text" name="power" value="" placeholder="Power"/>
        <input type="number" name="level" value="" placeholder="Level"/>
        <input type="submit" name="" value="Ajouter"/>
    </form>
</main>

<%- include('parts/footer'); -%>
